.marquee {
    width: 100%; 
    border: 10px 0px 10px 0px;
    border-style: solid;
    border-color: #365E41;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    padding: 0px;
    color: #365E41;
    font-family: new-spirit-condensed,times;
    font-size: 40px;
}
.marquee-scroll {
    animation-duration: 20s ;
	animation-iteration-count: infinite ;
	animation-name: marquee-content ;
	animation-timing-function: linear ;
	padding: 0px 10px 0px 10px ;
}
@keyframes marquee-content {
	from {
		transform: translateX( 0% );
	}
	to {
		transform: translateX( -100% );
		}
}
@font-face {
  font-family: new-spirit-condensed; 
  src: url(new-spirit-condensed.otf); 
    }