.marquee {
    width: 100%; 
    border: 2px solid green;
    overflow: hidden;
    background-color: #f0f0f0;
    padding: 10px 0;
}
.marquee-scroll {
    animation-duration: 4s ;
	animation-iteration-count: infinite ;
	animation-name: marquee-content ;
	animation-timing-function: linear ;
	padding: 5px 15px 5px 15px ;
}
@keyframes marquee-content {
	from {
		transform: translateX( 0% );
	}
	to {
		transform: translateX( -100% );
		}
    }