.marquee {
    width: 100%; 
    border: 2px solid #365E41;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    padding: 5px 0;
    color: #365E41;
    font-size: 50px;
}
.marquee-scroll {
    animation-duration: 20s ;
	animation-iteration-count: infinite ;
	animation-name: marquee-content ;
	animation-timing-function: linear ;
	padding: 0px 10px 0px 10px ;
}
@keyframes marquee-content {
	from {
		transform: translateX( 0% );
	}
	to {
		transform: translateX( -100% );
		}
    }