.marquee {
    width: 100%; 
    border-width: 7px 0px;
    border-style: solid;
    border-color: #365E41;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    color: #365E41;
    font-family: new-spirit-bold,times;
    font-size: 50px;
}
.marquee-scroll {
    animation-duration: 20s ;
	animation-iteration-count: infinite ;
	animation-name: marquee-content ;
	animation-timing-function: linear ;
	padding: 0px 10px 0px 10px ;
    margin: 20px 0;
}
@keyframes marquee-content {
	from {
		transform: translateX( 0% );
	}
	to {
		transform: translateX( -100% );
		}
}
@font-face {
  font-family: new-spirit-bold; 
  src: url(new-spirit-bold.otf); 
    }