body {
    background-color: burlywood;
    font-family:europa_grotesque, monospace;
    }

#header {
    display: block;
    position: fixed;
    top: 0px;
    height: 20px;
    width: 100%;
    background: green;
    }
@font-face {
  font-family: europa_grotesque; 
  src: url(europa_grotesque.ttf); 
    }
@font-face {
    font-family:news_gothic;
    src: url(news_gothic.otf);
}
img {
    max-width: 100%;    
    height: auto;
    }
table, td {
    border-collapse: separate;
    border-spacing: 20px;
    }
.icon_image {
    max-width: 100%;
    height: auto;
    border: 10px;
    border-color: powderblue; 
    border-style: solid;
    border-radius: 10%;
    }   
 .medium-image {
    max-width: 800px;
    border: 10px;
    border-color: purple; 
    border-style: solid;
    border-radius: 25%;
    } 