html {
    padding: 0px;
}
body {
    padding-left: 0px;
    padding-top:80px;
    background-color: black;
    font-family: monospace;
    color: #BB01FF;
    }

#header {
    position: fixed;
    top: 0px;
    height: 80px;
    width: 100%;
    background-color:black;
    font-family: europa_grotesque, monospace;
    font-size: 25px;
    text-align: center;
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color:#BB01FF;
    color: #000000;
}
tbody  {
    border: 1px solid #BB01FF;
    padding: 10px;
}

p {
    color: #BB01FF;
}
h1 {
    font-family: europa_grotesque, monospace;
    color: #BB01FF 
}
h2 {
    font-family: europa_grotesque, monospace;
    color: #BB01FF 
}
a {
  color: #1400FF;
  text-shadow: 0 0 5px #1400FF,
               0 0 10px #1400FF,
               0 0 20px #BB01FF,
               0 0 30px #BB01FF;
}
ul {
    list-style-type: square;
    }
img {
    max-width: 100%;    
    height: auto;
    }
caption {
    caption-side: bottom;
    padding-top: 10px;
    font-family: europa_grotesque, monospace;
}

#nav_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px;
    border-color:black;
    }
.center {
  margin-left: auto;
  margin-right: auto;
}
.icon_image {
    max-width: 100%;
    height: auto;
    border: 10px;
    border-color:#BB01FF; 
    box-shadow: 0 0 25px 5px #1400FF;
    border-style: ridge;
    border-radius: 10%;
    }   
.glow_text {
  color: #BB01FF;
  text-shadow: 0 0 5px #6800FF,
               0 0 10px #6800FF,
               0 0 20px #1400FF,
               0 0 30px #1400FF;
}

.text_box {
    border-width: 10px;
    border-style: ridge;
    border-color: #BB01FF;
    padding: 10px;
}
.glow_box {
    border-width: 10px;
    border-style: ridge;
    border-color: #BB01FF;
    box-shadow: 0 0 50px 10px #1400FF;
    padding: 10px;
}

@font-face {
  font-family: europa_grotesque; 
  src: url(europa_grotesque.ttf); 
    }
@font-face {
    font-family:news_gothic;
    src: url(news_gothic.otf); 
    }   